body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e4e5e9;
}

.event-title {
    top: 2px;
    font-size: 24px;
    position: relative;
}

.event-address {
    top: 8px;
    font-size: 16px;
    position: relative;
}

.fa.fa-map-marker {
    padding-right: 5px;
    font-size: 16px;
}

.event-info * {
    left: 70px;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .9);
}

.event-info {
    position: relative;
    top: 175px;
    left: 198px;
}

.event-date {
    background-color: rgba(0,0,0,.15);
    border: 2px solid #fff;
    border-radius: 5px;
    left: 12px;
    padding: 7px 0 9px 0;
    position: absolute;
    width: 46px;
}

.event-date * {
    color: #fff;
    direction: ltr;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.event-date .event-month {
    font-size: 10px;
    font-weight: 500;
    margin: -2px auto 0 auto;
}

.event-date .event-day {
    font-size: 20px;
    padding-top: 5px;
}

.cover-image {
    height: 250px;
    background: url(/santa.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profilePic {
    height: 160px;
    width: 160px;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 3px;
}

.profilePicThumb {
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    display: block;
    left: 23px;
    margin-top: 110px;
    padding: 1px;
    position: absolute;
    height: 168px;
}

.cover-text {
    border-radius: 3px;
    margin-top: 15px;
    padding: 10px;
    padding-bottom: 0;
    background-color: white;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.card {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background-color: white;
    border-radius: 3px;
}

.cover {
    margin: 5px;
    margin-top: 0;
    max-width: 993px;
}

.main-container {
    max-width: 1050px;
    font-family: helvetica, arial, sans-serif;
}

.centered-element {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.summary-fixed {
    top: -60px;
    left: 0;
    z-index: 1;
    padding: 10px;
    width: 100%;
    position: fixed;
    transition: top .1s ease-in-out;
}

.summary-fixed-visible {
    left: 0;
    top: 0;
}

.summary-pay:disabled {
    //background-color: #eee;
    //border-color: #eee;
}

.summary-fixed .summary-pay {
    margin-right: 25px;
}

.summary-scrollable {
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    max-width: 973px;
}

.summary {
    height: 23px;
    padding: 10px;
    font-family: 'Patua One', cursive;
}

.summary-total {
    float: left;
    color: #7889B5;
    font-size: 20px;
    font-weight: bold;
}

.summary-pay {
    float: right;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 0 16px;
    vertical-align: baseline;
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
}
