<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/wish-list-item.html">

<dom-module id="wish-list">
    <template>
        <style>

            ul {
                padding: 0;
                text-align: center;
                list-style-type: none;
            }

            ul li {
                display: inline-block;
            }
        </style>

        <div>
            <ul>
                <template is="dom-repeat" items="{{items}}">
                    <li>
                        <wish-list-item
                            name="{{item.name}}"
                            price="{{item.price}}"
                            image="{{item.image}}"
                            id="{{item.id}}"
                            on-amount-change="updateTotalAmount"></wish-list-item>
                    </li>
                </template>
            </ul>
        </div>
    </template>

    <script>
    Polymer({
        is: "wish-list",
        properties: {
            items: Array,
            totalAmount: {
                type: Number,
                value: 0,
                notify: true
            }
        },

        updateTotalAmount: function(change) {
            this.totalAmount -= change.detail.oldTotal;
            this.totalAmount += change.detail.newTotal;
        },

        ready: function() {
            console.log('wishlist loaded!');
        }
    });
    </script>
</dom-module>